<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital@1&display=swap"
        rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/animate.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime dash</title>
</head>

<body>
    <header class="principal-header">
        <div class="menu">
            <strong class="title">Anime Dash</strong>

            <ul class="sifuder">
                <li>Genero</li>
                <li>Animes</li>
                <li>Forúm</li>
            </ul>
        </div>
        <div class="menu-search">
            <form class="form-menu-search">
                <input type="text" placeholder="Faça sua pesquisa" autocomplete="additional-name" class="searcher" />
                <button class="search"><img src="/img/seacher.svg" alt="" /></button>
            </form>
            <button class="button-perfil">
                <img src="<%=image%>" alt="" />
            </button>
        </div>
    </header>
    <section>
        <div class="container feed">
            <div class="firstLine">
                <div class="line">
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="<%=image%>" alt="" />
                                <p><%=username%></p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <img class="post" src="/img/8cCW7Y.jpg" alt="">
                        <div class="interacoes">
                            <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                            <button class="comment"><img src="/img/comment.svg" alt=""></button>
                        </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4"  controls>
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                    <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>

                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                        <div class="interacoes">
                            <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                            <button class="comment"><img src="/img/comment.svg" alt=""></button>
                        </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>

                    </span>
                </div>
            </div>
            <div class="secondLnie">
                <div class="line">
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                </div>
            </div>
            <div class="threeLine">

                <div class="line">
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                    <span class="post">
                        <div class="perfil">
                            <span class="perfilName"><img src="/img/profile.svg" alt="" />
                                <p>name</p>
                            </span>
                            <span class="information"></span>
                        </div>
                        <video class="post" src="/videos/NLW (1).mp4">
                            <source src="/videos/NLW (1).mp4" type="video/mp4">
                        </video>
                         <div class="interacoes">
                        <button class="like"><img src="/img/like-svgrepo-com.svg" alt=""></button>
                        <button class="comment"><img src="/img/comment.svg" alt=""></button>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>